$general-text: #FFFFFF;
$general-bg: #0F041C;
$accent-text: #3DDEED;
$accent-color: #BD00FF;
$accent-bg: #FFE0CB;
$input-color: #AC907A;
$accent-color-2: #CEAAD0;
$transition: all .4s;
$border-radius: 20px;